{{> temp1css}}
<div class="heading" id="heading">
    <div class="heading-container" id="heading-container">
        <div class="name" id="name">
            <h1>{{info.portfolio_name}}</h1>
        </div>
        <div class="contact" id="contact">
            <a href="mailto:{{info.portfolio_email}}">
                <h4>Contact </h4>
            </a>
            </br>
            <a href="https://github.com/{{info.portfolio_github_link}}">
                <h4>Github </h4>
            </a>
            </br>
            <a href="https://linkedin.com/in/{{info.portfolio_linkedin_link}}">
                <h4>Linkedin </h4>
            </a>
        </div>
    </div>
</div>
</div>
<sec class="container" id="container">
    <div class="about-me" id="about-me">
        <div class="about-me-text" id="about-me-text">
            <div class="about-me-heading" id="about-me-heading">
                <h2>About Me</h2>
            </div>
            <p>
                <!-- About me text goes here -->
                {{info.portfolio_aboutme}}
            </p>
        </div>
        <div class="profile-image" id="profile-image">
            <!-- Insert image here -->
            <img src={{info.avatar_image_URI}} class="profile-user-image">
        </div>
    </div>

    <!-- <div class ="completed" id="completed"> -->
    <div class="projects" id="projects">
        <div class="project-heading" id="project-heading">
            <h3>Completed Work</h3>
        </div>

        <div class="card-row" id="card-row">
            {{#if info.user_profile_url_1}}
            <div class="project-card" id="project-card">
                <h4>Project 1</h4>
                <div class="project-image" id="project-image">
                    <!-- Insert project 1 image here -->
                    <a href="{{info.user_profile_url_1}}">{{info.user_profile_url_1}}</a>
                </div>
            </div>
            {{/if}}
            {{#if info.user_profile_url_2}}
            <div class="project-card" id="project-card">
                <h4>Project 2</h4>
                <div class="project-image" id="project-image">
                    <!-- Insert project 2 image here -->
                    <a href="{{info.user_profile_url_2}}">{{info.user_profile_url_2}}</a>
                </div>
            </div>
            {{/if}}
            {{#if info.user_profile_url_3}}
            <div class="project-card" id="project-card">
                <h4>Project 3</h4>
                <div class="project-image" id="project-image">
                    <!-- Insert project 3 image here -->
                    <a href="{{info.user_profile_url_3}}">{{info.user_profile_url_3}}</a>
                </div>
            </div>
            {{/if}}
            {{#if info.user_profile_url_4}}
            <div class="project-card" id="project-card">
                <h4>Project 4</h4>
                <div class="project-image" id="project-image">
                    <!-- Insert project 4 image here -->
                    <a href="{{info.user_profile_url_4}}">{{info.user_profile_url_4}}</a>
                </div>
                {{/if}}
            </div>
            {{#if info.user_profile_url_5}}
            <div class="project-card" id="project-card">
                <h4>Project 5</h4>
                <div class="project-image" id="project-image">
                    <!-- Insert project 5 image here -->
                    <a href="{{info.user_profile_url_5}}">{{info.user_profile_url_5}}</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <!-- <div class="in-progress" id="in-progress">  -->
    <div class="projects" id="projects">
        <div class="project-heading" id="project-heading">
            <h3>Work in Progress</h3>
        </div>
        <div class="card-row" id="card-row">
            <div class="project-card" id="project-card">
                <h4>Work in Progress </h4>
                <div class="project-image" id="project-image">
                    <!-- Insert in progress 1 image here -->
                </div>
            </div>
            <div class="project-card" id="project-card">
                <h4>Work in Progress </h4>
                <div class="project-image" id="project-image">
                    <!-- Insert inprogress 2 image here -->
                </div>
            </div>
        </div>
    </div>
    {{#if info.unique}}
    <div class="unique" id="unique">
        <h3>Something Unique About Me</h3>
        <p>
            <!-- Something unique about you text goes here -->
        </p>
    </div>
    {{/if}}

</sec>